# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/Angular/dist
/Angular/tmp
/Angular/out-tsc
/Angular/bazel-out

# Node
/Angular/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/Angular/.angular/cache
.sass-cache/
/Angular/connect.lock
/Angular/coverage
/Angular/libpeerconnection.log
testem.log
/Angular/typings

# System files
.DS_Store
Thumbs.db
